@import '../../styles/variables';

@mixin base {
  padding: 5px;
  height: 100%;
  font-size: 16px;
  line-height: 1.2;
  border: none;
}

@mixin scroll {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: $accents-theme-color;
    border-radius: 5px;
  }
}

.textarea-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;

  .numbers {
    @include base;
    @include scroll;

    &:focus-visible {
      outline: none;
    }

    overflow-y: hidden;
    text-align: right;
    color: #b7b7b7;
    width: 2rem;
  }

  .textarea {
    @include base;
    @include scroll;

    resize: none;

    &:focus-visible {
      outline: none;
    }

    padding-left: 2.2rem;
    width: 100%;

    &::placeholder {
      color: grey;
    }
  }
}
