@import '../../styles/variables';

.tabs-container {
  height: $tabs-height;
  border-top: 1px solid $light-color;
  color: $main-theme-color;
  padding: 0.5rem;

  .tabs-header-container {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $tablet-width) {
    padding: 0.5rem 0;
  }

  ul.nav {
    margin: 0 auto 0.2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: $tabs-header-height;
  ;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  ul.nav li {
    width: 20%;
    min-width: max-content;
    padding: 0.5rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 5px;
  }

  ul.nav li:hover {
    background: $light-gary-color;
  }
  ul.nav li.active {
    background: $light-color;
  }

  .first-tab p,
  .second-tab p {
    font-size: 1rem;
    text-align: center;
  }
}
