@import '../../styles/variables';

.editors-wrapper {
  height: 100%;
  padding: $m-padding;
  width: $column-width;
  border-radius: $m-padding;
  background: $white-color;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .request-wrapper {
    height: calc(100% - $tabs-height - $graphQl-endpoint-height - 10px);
    display: flex;
    justify-content: space-between;
  }

  @include media-tablet {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
  }
}

.active-tabs {
  width: $column-width;
  max-width: calc(50% - $sidebar-width - 10px);
  position: absolute;
  bottom: 15px;

  .tabs-container {
    height: 50px;

    .tabs-content {
      display: none;
    }
  }
}
