@import '../../styles/variables';

.auth-form {
  width: 300px;
  height: auto;
  @include flex-column-line-start-vertical-top;
  gap: 4px;
  position: relative;
  padding: 20px 10px;
  border: 1px solid $secondary-theme-color;
  background-color: $accents-theme-color;

  .upper-container {
    width: 100%;
    height: auto;
    @include flex-line-spacebetween-vertical-center;

    .main-logo-in-form {
      width: auto;
      max-width: 25%;
      height: 100%;
    }

    h1 {
      color: #fff;
    }
  }

  .lower-container {
    width: 100%;
    height: auto;
    @include flex-all-center;
    gap: 5px;
    padding: 5px 0;

    .login-button {
      @include confirm-button;
      border-radius: 0;
      padding: 5px $l-padding;
    }

    .to-registration-button {
      @include transition-button;
      border-radius: 0;
      padding: 5px $l-padding;
    }

    .to-login-button {
      @include transition-button;
      border-radius: 0;
      padding: 5px $l-padding;
    }

    .registration-button {
      @include confirm-button;
      border-radius: 0;
      padding: 5px $l-padding;
    }
  }
}