@import '../../../../styles/global';

.history-item-wrapper {
  width: 100%;
  height: $history-item-height;
  @include flex-line-start-vertical-center;
  gap: 5px;
  padding: $m-padding;
  background-color: $light-gary-color;

  .query-paragraph {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $secondary-theme-color;
    font-weight: 600;
  }

  svg {
    height: 20px;
    width: 20px;
    color: $main-theme-color;
    cursor: pointer;
    margin-left: auto;
  }
}
