@import '../../../../../../styles/global';

.graphql-section-wrapper {
  width: 100%;
  height: max-content;
  @include flex-column-line-center-vertical-top;
  gap: 3px;
  padding: $m-padding;
  border: 1px solid $accents-theme-color;

  .graphql-section-heading {
    width: 100%;
    color: $main-theme-color;
    font-size: 14px;
  }

  .no-data-span {
    color: $main-theme-color;
  }
}