@import '../../styles/variables';

header {
  width: 100%;
  height: $header-height;
  @include flex-line-spacebetween-vertical-center;
  background: $accents-theme-color;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  .logo-wrapper {
    @include flex-all-center;

    img {
      height: $header-height;
    }
  }
}

.active {
  background: $main-theme-color;
}