@import '../../css-variables/main-css-variables';

header {
  width: 100%;
  height: $header-default-height;
  @include flex-line-spacebetween-vertical-center;
  background: $accents-theme-color;

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: $header-default-height;
    }
  }


}
