@import '../../styles/variables';

.graphql-page-wrapper {
  width: calc(100% - $m-padding * 2);
  height: calc(100vh - $header-height - $footer-height - $m-padding * 2);
  @include flex-line-start-vertical-center;
  gap: 10px;
  margin: $m-padding;

  @include media-tablet {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 4px;
  }
}
