@import '../../../../../../../../styles/global';

.graphql-field-wrapper {
  width: 100%;
  @include flex-column-line-start-vertical-top;
  gap: 2px;
  padding: $s-padding;
  cursor: pointer;

  &:not(:hover) {
    border: 1px solid $accents-theme-color;
  }

  .field-name-span {
    font-weight: bold;
    color: $accents-theme-color;
  }

  .field-description-paragraph {
    width: 100%;
    word-wrap: break-word;
    color: #777;
    font-size: 14px;
  }
}

@media (hover :hover) {
  .graphql-field-wrapper {
    &:hover {
      border: 1px solid $secondary-theme-color;
    }
  }
}