@import '../../styles/variables';

aside {
  height: 100%;
  padding: $m-padding;
  width: $sidebar-width;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  .sidebar-buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  @include media-tablet {
    display: flex;
    flex-direction: row;
    height: 70px;

    .sidebar-buttons-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 10px;
    }
  }
}
