@import '../../scss/variables';

footer {
  width: 100%;
  height: $footer-default-height;
  background: $main-theme-color;
  color: $white-color;
  @include flex-line-spacebetween-vertical-center;
  position: fixed;
  bottom: 0;

  img {
    height: calc($footer-default-height - 10px);
  }

  .member-list {
    @include flex-line-spacebetween-vertical-center;
    gap: 10px;
  }
}
