@import '../../styles/variables';

.response-wrapper {
  height: 100%;
  @include flex-column-line-start-vertical-top;
  padding: $m-padding;
  width: 30%;
  border-radius: $m-padding;
  background-color: #fff;
  color: $accents-theme-color;
  font-weight: bold;
  
  pre {
    width: 100%;
    height: 100%;
    overflow: auto;
    @include scroll;
  }

  @include media-tablet {
    width: 100%;
    height: 27vh;
  }
}
