@import '../../styles/variables';

.response-wrapper {
  width: $column-width;
  height: 100%;
  @include flex-column-line-start-vertical-top;
  @include scroll;
  padding: $m-padding;
  border-radius: $m-padding;
  overflow: auto;
  background-color: #fff;
  color: $accents-theme-color;
  font-weight: bold;

  pre {
    width: 100%;
    height: 100%;
  }

  @include media-tablet {
    width: 100%;
    height: 27vh;
  }
}
