@import '../../styles/variables';

.processing-page-wrapper {
  width: 100%;
  height: calc(100vh - $header-height);
  @include flex-column-all-center;
  gap: 50px;

  .authorizing-refresh-paragraph {
    font-size: 30px;
    font-weight: bold;
    color: $main-theme-color;
  }
}

.loader {
  width: 100px;
  height: 100px;
  border: 3px dotted $secondary-theme-color;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;

  &::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted $accents-theme-color;
    border-style: solid solid dotted;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
