@import '../../styles/global';

.request-editor-wrapper {
  width: 100%;
  height: auto;
  @include flex-column-line-start-vertical-top;
  position: relative;
  padding-top: 5px;
  padding-right: 5px;
  cursor: text;
  @include scroll;

  &:focus {
    outline: none;
  }

  @include media-tablet {
    display: flex;
    flex-direction: row;
    height: 28vh;
    overflow: auto;
    position: relative;
  }
}
